.orderImage {
  width: 50px;
  height: 45px;
  border-radius: 10px 100px / 120px;
  margin: 10px;
}

.container {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.orderName {
  list-style: none;
  margin-left: 10px;
  max-width: 100px;
  font-weight: bold;
}

.orderName p {
  margin-bottom: 2px;
}

li {
  text-align: left;
}

.counter {
  list-style: none;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.count {
  font-size: 1.2rem;
  margin: 10px;
}

.price {
  font-weight: 300;
  margin-right: 100%;
}
